/* https://fronten-task1.vercel.app/ */


body{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    overflow: hidden;
    
}

.main-container{
    display: grid;
    justify-content: center;
    align-content: center;
    width:100%;
    height: calc(100vh);
    background-color:wheat;

}

@media screen  and (max-width: 320px){
    
    .inner-container{
        display: grid;
        align-items: center;        
        position: relative;
        justify-items: center;
        padding: 10px;
    }

    .myName{
        display: block;
        position: relative;
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-style: italic;
        margin-top: 10px;
    }

    .dayInaWeek{
        color: black;
        margin-top: -3px 0;
        padding: 0;

    }

    .timeInUtc{
        margin-top: -8px;
        color: black;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .myStack{
        font-weight: bolder;
        margin-top: 8px;
    }

    .myGit{
        margin-top: 15px;
        background-color:black ;
        color: wheat;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
    }


}

@media screen and (max-width:760px){
     
    .inner-container{
        display: grid;
        align-items: center;        
        position: relative;
        justify-items: center;
        padding: 6px;
    }

    .myName{
        display: block;
        position: relative;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-style: italic;
        margin-top: 10px;
    }

    .dayInaWeek{
        margin-top: 10px;
        padding: auto;
        font-size: larger;
        color: grey;
    }

    .timeInUtc{
        margin-top: 2px 0;
        color: black;
        font-size: large;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .myStack{
        font-size:larger;
        font-weight: bolder;
        margin-top: 10%;
    }

    .myGit{
        margin-top: 15px;
        background-color:black ;
        color: wheat;
        font-size: large;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

}

/* @media screen and (max-width:1440px){

    .inner-container{
        display: grid;
        justify-content: center;
        align-items: center;        
        position: relative;
        justify-items: center;
        padding: 2px;
    }
    
    .dayInaWeek{
        margin-top: 5px 0;
        padding: auto;
        font-size: x-large;
        color: gray;
    }

    .timeInUtc{
        margin-top: 2px 0;
        display: block;
        justify-content: center;
        color: gray;
        font-size: large;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .myStack{
        font-size:x-large;
        font-weight: bolder;
        margin-top: 10%;
    }
    
    .myGit{
        margin-top: 15px;
        background-color:black ;
        color: wheat;
        font-size: x-large;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

} */

.inner-container{
    display: grid;
    justify-content: center;
    align-items: center;        
    position: relative;
    justify-items: center;
    padding: 2px;
}

.dayInaWeek{
    margin-top: 5px 0;
    padding: auto;
    font-size: x-large;
    color: grey;
}

.timeInUtc{
    margin-top: 2px 0;
    display: block;
    justify-content: center;
    color: black;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.myStack{
    font-size:x-large;
    font-weight: bolder;
    margin-top: 10%;
}

.myGit{
    margin-top: 15px;
    background-color:black ;
    color: wheat;
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


a{
    text-decoration: none;
    color: white;
}

.myImg{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

img{
    width: 180px;
    height: 180px;
    border-radius: 50%;

}