body{
    margin: auto;
    padding: 0;
    box-sizing: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(70vh);
    height: calc(70vh);
    padding: 100px;
}

[data-testid="container"]{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(237, 237, 231);
    color: black;
    position: relative;
    width: 150px;
    padding: 40px;
    border-radius: 20px;

}

[data-testid="slackUserName"]{
    margin-top: 5px;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}


[data-testid="slackDisplayImage"]{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 18px;
    width: 140px;
    height: 140px;
    border: 1px solid wheat;
    border-radius: 10px;
}

[data-testid="slackDisplayImage"], img{
    border: 1px solid wheat;
    border-radius: 10px;
    overflow: hidden;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

[data-testid="gitImg"]{
    width: 30px;
    height: 30px;
    position: relative;
    right: 2px;
    top: 4px;
    
}

[data-testid="currentdayOfTheweek"]{
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;

}

[data-testid="currentdayOfTheweek"].currentUtcDate{
    font: bold;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}    


[data-testid="gitubURl"]{
    display: flex;
    margin-top: 10px;
    background-color: black;
    padding:6px 10px;
    border-radius: 3px;

}
[data-testid="gitubURl"], a{
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: larger;
    cursor: pointer;
}

@media screen and (min-width:320px){
    
    [data-testid="container"]{
        display: grid;
        justify-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
        border-radius: 20px;
    
    }

    [data-testid="slackUserName"]{
        margin-top: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        
    }

    [data-testid="slackDisplayImage"]{
        display: flex;
        justify-items: center;
        align-items: center;
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }
    
    [data-testid="slackDisplayImage"], img{
        overflow: hidden;
        width: 150px;
        height: 150px;
        cursor: pointer;
    }
}
